
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #2e7d32, #66bb6a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.formulario h4 {
    margin-bottom: 20px;
    color: #2e7d32;
    font-size: 22px;
}


.lista {
    list-style: none;
}


.grupo {
    margin-bottom: 15px;
    text-align: left;
}


.Nombres_arriba {
    font-size: 14px;
    margin-bottom: 5px;
    color: #1b5e20;
}


.controles input {
    width: 100%;
    padding: 10px;
    border: 2px solid #a5d6a7;
    border-radius: 8px;
    outline: none;
    transition: 0.3s;
}

.controles input:focus {
    border-color: #2e7d32;
    box-shadow: 0 0 5px #66bb6a;
}


#Texto_final {
    font-size: 13px;
    margin: 15px 0;
    color: #2e7d32;
}

#Texto_final a {
    color: #1b5e20;
    text-decoration: none;
    font-weight: bold;
}


.botones {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.boton {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    background-color: #1b5e20;
    text-decoration: none;
}

.botones input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}


.botones input[type="submit"] {
    background: #2e7d32;
}


.botones input[type="reset"] {
    background: #66bb6a;
}


.botones input:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

#Resultado {
    margin-top: 10px;
    font-size: 14px;
    color: #1b5e20;
}