body{
    margin-top: 0%;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgb(254, 254, 206);
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(66, 152, 78);
    padding: 0px 10px;
}

.contenedor-header #principal {
    width: 50px;
    height: auto;
}


.contenedor-header nav {
    display: flex;
}

.contenedor-header nav ul {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.contenedor-header .link {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contenedor-header a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.contenedor-header .link img {
    width: 18px;
    height: 18px;
}

.contenedor-img1 {
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
}

.contenedor-img1 ul {
    display: flex;
    width: 400%;
    height: 400px;
    margin: 0;
    padding: 0;
    animation: cambio 20s infinite alternate ease;
}

.contenedor-img1 li {
    list-style: none;
    width: 25%;
    height: 100%;
}

.contenedor-img1 img {
    width: 100%;
    height: 900px;
    object-fit: cover;
    display: block;
}

.Texto-superpuesto{
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 30px;
    transition: all 0.4s ease;
}
.Texto-superpuesto:hover{
    background-color: rgba(0, 0, 0, 0.5);

}
.Texto-superpuesto h2{
    text-align: center;
}
.Texto-superpuesto p{
    text-align: center;
}
@keyframes cambio {
    0% { margin-left: 0%; }
    20% { margin-left: 0%; }

    25% { margin-left: -100%; }
    45% { margin-left: -100%; }

    50% { margin-left: -200%; }
    70% { margin-left: -200%; }

    75% { margin-left: -300%; }
    100% { margin-left: -300%; }
}
aside {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 201);
    padding: 10px;
    gap: 1px;
    justify-content: flex-start;
    width: 20%;
}
.primer {
    gap: 100%;
}
aside p{
    margin-left: 5px;
    margin-right: 0;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    padding: 0;
    transition: all 0.3s ease;
    width: 350px;
}
aside  p:hover{
    transform: scale(1.05);
    

}
aside .primer h2 {
    color: rgb(44, 110, 52);
    margin-left: 80px;
    font-size: 20px;
    gap: 0;
    padding: 0;
}
aside h3{
    color:  rgb(44, 110, 52) ;
    margin-left: 80px;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 6px;
   
}

.primer h3 img{
    width: 18px;
    height: auto;
    display: block;
}
.primer iframe{
    height: 300px;
    width: 300px;
    margin-left: 20px;;
    padding: 12px 12px;
    transition: all 0.3s ease;
}
.primer iframe:hover{
    transform: scale(1.1);
}
.imagenes-derecha1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.imagenes-derecha1 img{
    width: 104%;
    display: block;
    border-radius: 20px;
    object-fit: cover;
}

.img-superior {
    height: 400px;
    margin-top: 5px;

}
.img-superior img {
    height: 400px;
    margin-top: 5px;
    width: 500px;
}
.imagenes-inferiores {
    display: flex;
    gap: 5%;
}
.imagenes-inferiores img {
    width: 115%;
    height: 251px;
    margin-top: -20px;
}
.Horarios{
    color:  rgb(44, 110, 52) ;
    margin-left: 135px;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 6px;
}
main {
    width: 72%;
    padding: 0px;
}
.segundo {
    margin-top: 40px;
    text-align: center;
}
aside .segundo p{
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 17px;
    border-radius: 10px;
    padding: 0;
    transition: all 0.3s ease;
    width: 350px;
}
aside .segundo p:hover{
    transform: scale(1.05);
    

}
aside .segundo h2 {
    color: rgb(44, 110, 52);
    margin-left: -20px;
    font-size: 20px;
    gap: 0;
    padding: 0;
}

.contenedor-main-aside{
    display: flex;
    align-items: flex-start;
}

.imagenes-derecha2 img {
    width: 104%;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}
.img-superior2 {
    height: 400px;
    margin-top: 40px;

}
.imagenes-inferiores2{
    display: flex;
    gap: 20%;
    width: 100%;

}

.imagenes-inferiores2 img {
    width: 100%;
    height: 250px;

}
.imagenes-inferiores2 .imagen1 img{
    width: 50%;
}
.p2{
    margin-left: 20px;
}

#Normas{
   align-items: center;
   text-align: center;
   margin: 50px;
   color: rgb(44, 110, 52);
}


.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
    transition: all 0.2s ease;
}
.parent :hover{
    transform: scale(1.05);


}

.card {
    background-color: #8bc34a;
    color: #fff;
    padding: 0;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

}


.card h3 {
    margin-bottom: 10px;
    font-size: 16px;
}

.card p {
    font-size: 14px;
    background-color: none;
}
#footer {
    background-color: #1b5e20; 
    color: #fff;

   
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.social-icons a {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.social-icons a:hover {
    text-decoration: underline;
}

.footer-right {
    font-size: 13px;
    opacity: 0.9;
}

img.imagen2 {
    width: 135%;
    margin-left: 10%;
}
img.imagen1 {
    width: 130%;
}
img.imagen3 {
    width: 190%;
    
}
img.imagen4 {
    width: 185%;
}

#show_menu {
    display: none;
}
@media (max-width: 480px){
    #show_menu{
        display:block;
        width: fit-content;
        height: fit-content;
        color:#ffffff ;
        border-radius: 10px;
        border: none;
        background: none;
        font-size: 50px;
        

    }
    nav.navegacion{
        display: none;
    }
    nav.navegacion.active{
        display: block !important;
    }
}
